.navtool {
    /* margin-right: 1rem; */
}

.text {

    color: #481f3f;
    font-weight: bold;
    font-size: smaller;
    font-family: 'DynaPuff', cursive;
}
/* .navcolor{
   background-color: #e32ebc;
} */