.coverpic{
    width: 100%;
    height: 300px;
    background-size: cover;
}
.profileimg{
    width: 60px;
    height: 60px;
}
.main{
    display: flex;
}
.rightside{
    display: flex;
    justify-content: right;
    gap:1rem;
}
.home{
    font-size:20px;
}
.homelink{
    text-decoration: none;
}
.UserI{
    display: flex;
    justify-content:space-between;
}